
:host {
    display:block;
    height: 5rem;
    position:relative;
}
.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align:center;
    //padding-left:45px;
}
