<mat-card>
  <mat-card-header>Login</mat-card-header>
  <form>
    <mat-card-content>
      <div class="form-container">
        <div class="example-full-width">
          <mat-form-field class="">
            <input matInput type="url" placeholder="organisation" name="domain" [(ngModel)]="domain">
          </mat-form-field>
        </div>

        <mat-form-field class="example-full-width">
          <input matInput type="email" placeholder="email" name="your email" [(ngModel)]="email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="password" name="your password" [(ngModel)]="password">
        </mat-form-field>
      </div>
      <mat-error *ngIf="error">{{error}}</mat-error>

    </mat-card-content>
    <mat-card-actions>
      <div class="spacer"></div>
      <button mat-flat-button [disabled]="!isValid" (click)="handleLogin()" color="accent" type="submit">Login</button>
    </mat-card-actions>
  </form>
</mat-card>
