.form-container {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  margin-bottom: -1rem !important;
}

.mat-card {

}

.mat-card-actions {
  display: flex;
  padding: 0 .5rem;
  margin-bottom: 0;
  .spacer {
    flex: 1;
  }
}

.mat-input-element {
  color: black;
}

.domain {
  color: lighten(black, 70%);
}

:host {
  .mat-card {
    background-color: #fefefe;
    display: block;
    border-bottom: thick solid #FF2351;
  }

}
