<mat-form-field class="example-full-width">
  <div class="project-select">
    <span class="badge" *ngIf="!hasFocus && getCleanName" [style.backgroundColor]="getCleanName | stringToHexColor"></span>
    <input type="text"
      matInput
      required
      placeholder="Project"
      [formControl]="formControl"
      (blur)="handleBlur()"
      (focus)="updateFocus(true)"
      appSelectOnFocus
      [matAutocomplete]="auto">
  </div>
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredProjects | async" [value]="option.name">
      <span class="badge" [style.backgroundColor]="option.cleanName | stringToHexColor"></span>
      <span [innerHtml]="option.name"></span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
