<div class="row">
  <mat-card *ngIf="days && days.length">
    <mat-card-content>
      <app-timetableitem class="cell" [item]="hour" *ngFor="let hour of groupedHours[days[0]]" (click)="showTimeDetails(hour)">
      </app-timetableitem>
    </mat-card-content>

    <div class="bottom-bar">
      <div class="total-time"><strong>{{ (getTotalHours(groupedHours[days[0]]) | hoursToMs) | msToTime:true }}</strong></div>
      <button (click)="addItemToList(days[0])" mat-flat-button color="accent">
        add
      </button>
    </div>
  </mat-card>


  <div class="bottom-bar" *ngIf="!days || days.length === 0">
    <div class="total-time"></div>
    <button (click)="addNewItemToList()" mat-flat-button color="accent">
      add
    </button>
  </div>

</div>
