:host {
  padding-bottom: 1rem;
}

.heading {
  margin-bottom: 1rem;
  margin-top: -1rem !important;

  text-align: right;
  small {
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 0.7rem;
    font-size: 0.8rem;
    line-height: 2;
  }
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: .5rem .5rem;
  background-color: #FF2345;
  display: flex;
  .spacer {
    flex: 1 1;

  }

  .mat-black {
    background-color: black;
    color: #fff;
    border-radius: 2rem;
    line-height: 1;
    margin-right: .5rem;
    padding: 0 1.5rem;
    min-width: 3rem;
  }

  .mat-accent {
    background-color: #FF2345;
    border: thin solid rgba(white, .3);
    min-width: 1rem;
    margin-left: .5rem;
    padding: 0 1rem;

    span {
      text-transform: uppercase;
      margin-left: 1rem;
      letter-spacing: .1rem;
      font-size: .7rem;
    }
  }

}

.mat-card {
  box-shadow: none !important;
  padding-top: 0;
}

.empty-message {
  text-align: center;
  padding: 5rem 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: #bbb;

  button {
    margin: 2rem;
    box-shadow: none !important;
  }
}

.progress-container {
  padding: 1rem;
}

.progress {
  width: 100%;
  background-color: rgba(white, .1);
  border-radius: .5rem;

  span {
    background-color: #FF2345;
    height: .3rem;
    display: block;
    transition: width .5s ease-in-out;
    border-radius: .5rem;
    max-width: 100%;
  }
}

.total-time {
  color: rgba(white, .3);
  font-size: .7rem;
  letter-spacing: .1rem;
  padding: .5rem 0;
}

.has-gap {
  margin-top: .5rem;
}
