:host {
  padding-bottom: 1rem;
}

.heading {
  margin-bottom: 1rem;
  margin-top: -1rem !important;

  text-align: right;
  small {
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 0.7rem;
    font-size: 0.8rem;
    line-height: 2;
  }
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: .5rem 1rem;
  background-color: #fefefe;
  border-top: medium solid #FF2351;
  //box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2), 0 -3px 10px 0 rgba(0, 0, 0, 0.14), 0 -1px 18px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  .total-time {
    flex: 1 1;
    font-size: .8rem;
    padding: .5rem .5rem .5rem 0;
  }

  .mat-accent {
    margin: -0.5rem 0;
    padding: 0.3rem;
    border-radius: 0;

    &:first-of-type {
      margin-left: -1rem;
    }

    &:last-of-type {
      margin-right: -1rem;
    }
  }

}

.mat-card {
  box-shadow: none !important;
  padding-top: 0;
}

.empty-message {
  text-align: center;
  padding: 5rem 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: #bbb;

  button {
    margin: 2rem;
    box-shadow: none!important;
  }
}
