:host {

}
.heading{
  margin-bottom: 1rem;
  margin-top: -1rem!important;

  text-align: right;
  small {
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 0.7rem;
    font-size: 0.8rem;
    line-height: 2;
  }
}

.mat-fab {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  background-color: #FF2351;
}

.mat-card {
  box-shadow: none!important;
}
