
<mat-tab-group *ngIf="!issue">
  <mat-tab label="Quick">
    <app-issues-by-filter [filterId]="null" (issueSelect)="issue = $event" autofocus></app-issues-by-filter>
  </mat-tab>
  <mat-tab *ngFor="let filter of filters" #tab [label]="filter.name">
    <app-issues-by-filter *ngIf="tab.isActive" [filterId]="filter.filterId" (issueSelect)="issue = $event" autofocus></app-issues-by-filter>
  </mat-tab>
  <mat-tab label="Edit">
      <h3>Edit issues</h3>
  </mat-tab>
</mat-tab-group>

<ng-container *ngIf="issue">
  <mat-form-field class="dark-bg">
    <input matInput type="text" placeholder="Issue" name="Issue" [ngModel]="issue.key" (focus)="issue = null">
  </mat-form-field>

  <mat-form-field class="dark-bg">
    <input matInput type="text" placeholder="Time" autofocus name="Time" [ngModel]="time"
           (blur)="time = $event.target.value">

  </mat-form-field>

  <div class="buttons">
    <button mat-flat-button="secondary" (click)="onCancel.emit(true)">Cancel</button>
    <button mat-flat-button="primary" [class.disabled]="_time === 0" (click)="addWorkLog()">Save</button>
  </div>
</ng-container>
