:host {
  height: 4rem;

  h3 {
    flex: 1 1 auto;
    font-size: 1rem;
  }

  input {
    display: none;
  }

  .user {
    padding: 0.3rem;
    margin-right: 1rem;
    border: .125rem solid white;
    border-radius: 2rem;
    font-size: 0.8rem;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    line-height: 2.1;
  }
  .mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }

  button {
    //margin: 0 -.5rem;
  }
}
