
:host {
  display: block;
  max-width: 100%;
  width: 100%;

  > div {
    transition: filter .2s ease-in-out;
    filter: blur(0);

    &.blur-content {
      filter: blur(3px);
    }
  }
}

.day-info {
  padding: 10px 30px 10px;
  display: flex;

  .total-time {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: #FF3369;
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .day-date {
    flex: 1;
    font-size: 36px;
    line-height: 0.8;

    small {
      display: block;
      font-size: 12px;
      line-height: 1;
    }
  }
}


.overlay-blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(5px);
  pointer-events: all;
}