<div [class.blur-content]="showWorkLogForm">

    <app-weekdayselector [activeDate]="activeDate" (activeDateChange)="setActiveDate($event)"></app-weekdayselector>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div class="day-info">
        <div class="day-date">
            <small>
                {{activeDate | date : 'EEEE'}}
            </small>
            {{activeDate | date : 'd MMM'}}
        </div>
        <div class="total-time">
    <span>
    {{totalTimeSpend | minutesToMs | msToTime}}
    </span>
        </div>
    </div>


    <div *ngFor="let issue of issues">
        <app-worklog-entry [worklog]="issue"></app-worklog-entry>
    </div>
</div>
<div class="mat-fab-container">
    <button mat-fab="primary" (click)="showAddHours(true)">
        <mat-icon>
            add
        </mat-icon>
    </button>
</div>
<div *ngIf="showWorkLogForm" class="overlay-blur"></div>
<app-worklog-form *ngIf="showWorkLogForm"
                  [activeDate]="activeDate"
                  (onCancel)="showAddHours(false)"
></app-worklog-form>
