<mat-card>

  <form class="example-container" [formGroup]="timeForm" (ngSubmit)="onSubmit()">
    <mat-card-content>

      <app-project-select formControlName="project"></app-project-select>

      <app-project-service-select [projectId]="projectId" formControlName="projectservice"></app-project-service-select>

      <app-service-type-select [serviceId]="projectserviceId" formControlName="type"></app-service-type-select>

      <app-time-picker formControlName="startTime" [timeDate]="data.start_date" placeholder="Start Time"></app-time-picker>

      <app-time-picker formControlName="endTime" [timeDate]="data.end_date" placeholder="End Time"></app-time-picker>
      <!--<h6>Notes</h6>-->
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Notes" formControlName="note"></textarea>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button type="submit" mat-button>Save</button>
    </mat-card-actions>

  </form>

</mat-card>
