
  <form class="example-container" [formGroup]="timeForm">
    <mat-card-content>

      <app-project-select formControlName="project"></app-project-select>

      <app-project-service-select [projectId]="projectId" formControlName="projectservice"></app-project-service-select>

      <app-service-type-select [serviceId]="projectserviceId" formControlName="type"></app-service-type-select>
      <div class="flex time">
        <app-time-picker formControlName="startTime" [timeDate]="data.start_date" placeholder="Start Time"></app-time-picker>

        <app-time-picker formControlName="endTime" [timeDate]="data.end_date" placeholder="End Time"></app-time-picker>
      </div>

      <mat-form-field class="full-width">
        <textarea matInput placeholder="Notes" formControlName="note"></textarea>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button type="submit" *ngIf="data && data.id" (click)="delete()" mat-stroked-button color="warn">delete</button>
      <div class="spacer"></div>
      <!--<button type="submit" [disabled]="!timeForm.valid" (click)="onSubmit(true)" mat-stroked-button color="accent">Save and next</button>-->
      <button type="submit" [disabled]="!timeForm.valid" (click)="onSubmit()" mat-raised-button color="accent">Save</button>
    </mat-card-actions>

  </form>

