
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');
$primary-color: #FA004B;
$secondary-color: #13043C;



html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.wrap {
  padding-right: 30px;
  padding-left: 30px;
}
