:host {
  display: block;
  cursor: pointer;
  margin: 0 -1rem;
  padding: 1rem;
  transition: .5s;
  position: relative;
  background-color: rgba(white, 0);
  &:hover {
    background-color: rgba(white, 0.1);
  }
}

.overlay {
  position: absolute;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: .05;

}

.container {
  display: flex;

  .content {
    flex: 1 1;
    padding: 0 .5rem 0 2rem;

    h3 {
      margin-top: 0;
      margin-bottom: .25rem;
      font-size: 0.8rem;

    }

    .service {
      font-size: .7rem;
      font-weight: 600;
      margin-top: .3rem;
    }

    .note {
      margin-top: 0.8rem;
      font-size: 0.7rem;
      &:empty {
        display: none;
      }
    }
  }

  .time {
    font-size: 0.7rem;
    letter-spacing: .1rem;
    color: #cacaca;
    padding-top: .2rem;

    .start {
      position: relative;
      &:after {
        content: '';
        display: block;
        width: .5rem;
        border-bottom: thin solid #676767;
        margin: 0.2rem calc(50% - .25rem);
      }
    }

    .end.is-timing {
      color: #FF2345;
    }

    .timer {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
    }
  }

  .duration {
    border-radius: 1rem;
    text-align: center;
    padding: 0 .5rem;
    font-size: 0.75rem;
    letter-spacing: .1rem;
    color: #CACACA;
  }
}

