<div class="container">
  <div class="time">
    <div class="start">{{getTime(item.start_date) }}</div>
    <div class="end">{{getTime(item.end_date)}}</div>
  </div>
  <div class="content">
    <h3 mat-line>{{item.project.name}}</h3>
    <div mat-line>{{item.projectservice.name}} / {{item.type.label}}</div>
    <div class="note"><i>{{item.note}}</i></div>

  </div>
  <div class="totalTime">
    <div class="duration">
      <strong>{{item.hours | number:'1.0-1'}}</strong> h
    </div>
  </div>
</div>
