:host {
  display: block;
  margin: 0 -1rem;
  padding: 1rem;
  transition: .5s;
  position: relative;
  background-color: rgba(white, 0);
  overflow: hidden;

  &:hover {
    .container .itemActions {
      opacity: 1;
    }
  }
}

.info {
  display: flex;

}

.overlay {
  position: absolute;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: .05;
}

.actions {
  transition: bottom .3s;
  position: absolute;
  bottom: -5rem;
  right: 0;
  left: 0;
  padding: .5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgba(black, .7);

  &:active,
  &:focus {
    bottom: 0;
  }

  .mat-icon {
    margin-bottom: .8rem;
    font-size: 1rem;
    height: 1rem;
    cursor: pointer;
  }

  .mat-icon-button {
    height: 2rem;
    text-transform: uppercase;
    &:hover {
      color: #FF2345;
    }

    &:focus {
      display: none;
    }
  }

}

.container {
  display: flex;
  .content {
    flex: 1 1;
    padding: 0 .5rem 0 2rem;

    &:hover {
      cursor: pointer;
      h3 {
        text-decoration: underline;
      }
    }

    h3 {
      margin-top: 0;
      margin-bottom: .25rem;
      font-size: 0.8rem;

    }

    .service {
      font-size: .7rem;
      font-weight: 600;
      margin-top: .3rem;
    }

    .note {
      margin-top: 0.8rem;
      font-size: 0.7rem;
      &:empty {
        display: none;
      }
    }
  }

  .time {
    font-size: 0.7rem;
    letter-spacing: .1rem;
    color: #cacaca;
    padding-top: .2rem;

    .start {
      position: relative;
      &:after {
        content: '';
        display: block;
        width: .5rem;
        border-bottom: thin solid #676767;
        margin: 0.2rem calc(50% - .25rem);
      }
    }

    .end.is-timing {
      color: #FF2345;
    }

    .timer {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
    }
  }

  .duration {
    border-radius: 1rem;
    text-align: center;
    padding: 0 .5rem;
    font-size: 0.75rem;
    letter-spacing: .1rem;
    color: #CACACA;
  }

  .itemActions {
    text-align: right;
    opacity: 0;
    transition: opacity .2s;

    .mat-icon {
      margin-bottom: .8rem;
      font-size: 1rem;
      height: 1rem;
      cursor: pointer;
    }

    .mat-icon-button {
      height: 2rem;
      width: 2rem;
      line-height: 1;
      text-transform: uppercase;
      &:hover {
        color: #FF2345;
      }

      &:focus {
        display: none;
      }
    }
  }
}

